
<style>
    div.scroll {
        width: 1100px;
        height: 300px;
        overflow: scroll;
    }
    table,tbody{
        align : center;
        width : 100%;
        border: 1px solid black;
        border-collapse: collapse;
    }

    th,td{
        text-align: center;
        padding: 8px;
    }

    td:nth-child(even){
        background-color :rgb(219, 252, 255);
        border: 1px solid black;
    }

    th{
        background-color: black;
        color : white;
    }
</style>

<section>
<div class=scroll>
<table>
    <thead>
    <tr>
        <th> Nama Mata Kuliah</th>
        <th> Nilai </th>
    </tr>
    </thead>
    {% for riwayat in daftar_riwayat %}
    <tbody>   
    <tr>
        <td>{{ riwayat.kelas.nm_mk_cl.nm_mk }}</td>
        <!-- {%if rahasia %}
        <td>Dirahasiakan</td>
        {% else %} -->
        <td>{{ riwayat.nilai }}</td>
        <!-- {% endif %} -->
    </tr>
    </tbody>
    {% endfor %}
    
</table>
</div>
</section>

<!-- {% block javascript %}

<script>
    $(document).ready(function(){
        $.ajax({
            method: "GET",
            url : "https://private-e52a5-ppw2017.apiary-mock.com/riwayat",
            success : function(database_mahasiswa){
                var hayo = JSON.stringify(database_mahasiswa);
                console.log("loggg " + JSON.stringify(database_mahasiswa))
                // TO DO : bikin keadaan kalo pilih hide sama enggak
                // $.each(hayo, function(item) {
                //     // var matkul = database_mahasiswa['kelas']['nm_mk_cl']['nm_mk'];
                //     // console.log(matkul)
                //     var nilai = hayo['nilai'];
                //     console.log("haha " + nilai)
                //     // $("#matkul").append(matkul)
                //     $("#nilai").append(nilai)
                // });
                console.log(JSON.stringify(database_mahasiswa[0]['nilai']));    

            }
        })
    })
</script>
{% endblock %} -->