{% load staticfiles %} 
{% load static %} 

{% block content %}
<!DOCTYPE html>
<form id="form" class = "form" method="POST" action="{% url 'halaman_profile:handle_edit_profile' %}">
    <h2 style="color:White" align = "center">Edit Profile</h2>
    {% csrf_token %}
    <table align = "center"  width="600" cellspacing = "100" cellpadding="100">
        <div class="form-group">
            <td><label for="" class="control-label" style="color:White"> Nama </td></label>
            <td><input type="text" name="profile_name" class="form-control" value="{{ profile.name }}"></td>
        </div>
    
    <tr>
    <div class="form-group">
        <td><label for="" class="control-label" style="color:White"> Birthdate </td></label>
        <td><input type="text" name="birthdate" class="form-control" value="{{ profile.birthday }}"></td>
    </div>
    </tr>

    <tr>
    <div class="form-group">
        <td><label for="" class="control-label" style="color:White"> Gender </td></label>
        <td><input type="text" name="gender" class="form-control" value="{{ profile.gender }}"></td>
    </div>
    </tr>

    <tr>
    <div class="form-group">
        <td><label for="" class="control-label" style="color:White"> Expertise </td></label>
        <td><input type="text" name="expert" class="form-control" value="{{ profile.expertise }}"> </td>
    </div>
    </tr>

    <tr>
    <div class="form-group">
        <td><label for="" class="control-label" style="color:White"> Email </td></label>
        <td><input type="text" name="email" class="form-control" value="{{ profile.email }}"> </td>
    </div>
    </tr>

    <tr>
    <div class="form-group">
        <td><label for="" class="control-label" style="color:White"> Description </td></label>
        <td><input type="text" name="desc_profile" class="form-control" value="{{ profile.description }}"> </td>
    </div>
    </tr>
    <tr>
        <td><br></td>
        <td><br></td>
    </tr>
    <tr>
        <td><br></td>
        <td><br></td>
    </tr>
    <tr>
        <td><br></td>
        <td><br></td>
    </tr>
    </table>
    <table align = "center"  width="600" cellspacing = "100" cellpadding="100">
        <tr>
        <td></td>
        <td><input class="btn btn-default" align = "right" type="submit" value="Submit">
        <button class="btn btn-default" style = "right" alohref="/halaman_profile/">Cancel</button></td>
        </tr>
    </table>

</form>
{% endblock %}

<!-- gua gatau ini apaan anjeng -->
<html>
<head>
  <script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 81ax5a4x21oxj7
    authorize: true
    onLoad: onLinkedInLoad

</script>
<script type="text/javascript">
    // Setup an event listener to make an API call once auth is complete
    function onLinkedInLoad() {
        IN.Event.on(IN, "auth", getProfileData);
        IN.Event.on(IN, "auth", getCompanyProfileData);
        IN.Event.on(IN, "auth", checkAdmin);
    }
    function checkAdmin(){
      var cpnyID = 5144635;
      IN.API.Raw("/companies/" + cpnyID + "/relation-to-viewer/is-company-share-enabled?format=json").method("GET").result(displayAdmin).error(onError);
    }
    function displayAdmin(data){
      console.log(data)

    }
    // Use the API call wrapper to request the member's profile data
    function getProfileData() {
    IN.API.Profile("me").fields("id", "first-name", "last-name", "headline", "location", "picture-url", "public-profile-url", "email-address").result(displayProfileData).error(onError);
    }
    function getCompanyProfileData() {
        var cpnyID = 5144635;
        IN.API.Raw("/companies/" + cpnyID + ":(id,name,ticker,description,company-type)?format=json").method("GET").result(displayCompanyProfileData).error(onError);
    }
    //Handle the successful return from the API call
    function displayProfileData(data){
        var user = data.values[0];
        document.getElementById("name").innerHTML = user.firstName+' '+user.lastName;
        document.getElementById("intro").innerHTML = user.headline;
        document.getElementById("email").innerHTML = user.emailAddress;
        document.getElementById("location").innerHTML = user.location.name;
        document.getElementById("link").innerHTML = '<a href="'+user.publicProfileUrl+'" target="_blank">Visit profile</a>';
    }
    function displayCompanyProfileData(data){
        document.getElementById("companyName").innerHTML = data.name;
        document.getElementById("description").innerHTML = data.name;
        document.getElementById("companyType").innerHTML = data.type;
    }
    // Handle an error response from the API call
    function onError(error) {
        console.log(error);
    }
    // Destroy the session of linkedin
    function logout(){
        IN.User.logout(removeProfileData);
    }
    // Remove profile data from page
    function removeProfileData(){
        document.getElementById('profileData').remove();
    }
</script>

</head>

<body style="background: linear-gradient(to left, #ffe6e9, #0dad88);">
<div class="container">
  <div class="judul">
    <p class="text-center" style="font-size: 100px;">
        <span class="glyphicon glyphicon-user icon-size"></span>
    </p>
    <p align="center" style="font-size: 15px;">
        <strong> NPM {{kode_identitas}} </strong>
    </p>
    <p style="float: right;">
        <a href="{% url 'page_status:index' %}" class="btn btn-primary" > Simpan </a> |
        <a href="{% url 'page_status:index' %}" class="btn btn-warning" > Keluar </a>
    </p><br><br>
    <h4> Data Pribadi </h4>
  </div>
    <!-- sign in with linkedin button -->
  <script type="in/Login"></script>
  <div id="profileData" style=" display: none; font-size: 15px; width:60px; height:128px;">
      <p><a href="javascript:void(0);" onclick="logout()">Logout</a></p>
      <div id="picture"></div>
      <div class="info">
        <p id="name"></p>
        <p id="email"></p>
        <p id="link"></p>
      </div>
  </div>
  <div class="isi">
      <h5 style=" font-size: 20px;"> Keahlian </h5>
      <select>
        <option value="java">Java</option>
        <option value="python">Python</option>
        <option value="c#">C#</option>
        <option value="c++">C++</option>
      </select>
      <p style=" font-size: 15px;"> Level </p>
      <select>
        <option value="beginner">Beginner</option>
        <option value="intermediate">Intermediate</option>
        <option value="advanced#">Advanced</option>
        <option value="expert">Expert</option>
        <option value="legend">Legend</option>
      </select>
      <h5 style=" font-size: 20px;"> Tampilkan Nilai </h5>
      <form action="">
      <div>
        <input type="radio" name="nilai" value="iya"> Ya <br>
        <input type="radio" name="nilai" value="tidak"> Tidak <br>
      </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
  </div>
</div>
</body>
</html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
