<div class="panel panel-info">
    <div class="panel-heading">
        <h2> Profile </h2>
    </div>
    <div class="panel-body">
      <pre style="background: linear-gradient(to left, #ffe6e9, #0dad88); font-size: 15px;">
            <strong> Nama                  </strong>
            <strong> NPM                   {{kode_identitas}} </strong>
            <strong> Keahlian              </strong>
            <strong> Email                 </strong>
            <strong> Profile Linkedin      </strong>
      </pre>
    </div>
</div>
