<!--  
Untuk method ini, list mahasiswa saya hardcode, karena method profile gagal menyimpan nama mahasiswa ke database. Sisanya semua hal yang bisa dilakukan disini lancar
-->

<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>NPM</th>
                <th>Nama</th>
                <th>Angkatan</th>
                <th>Keahlian</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>NPM</th>
                <th>Nama</th>
                <th>Angkatan</th>
                <th>Keahlian</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>1606837631</td>
                <td>Fajrin Maulana K.</td>
                <td>2016</td>
                <td>Python, Java</td>
            </tr>
            <tr>
                <td>1306409450</td>
                <td>Edwin Aditya Rahman</td>
                <td>2013</td>
                <td>C++, Java</td>
            </tr>
            <tr>
                <td>1406569806</td>
                <td>Ekanaradhipa Deynagama Djacaria</td>
                <td>2014</td>
                <td>C, Java</td>
            </tr>
            <tr>
                <td>1506688973</td>
                <td>Eldy Hidayat</td>
                <td>2015</td>
                <td>C++, Java</td>
            </tr>
            <tr>
                <td>1606822756</td>
                <td>Elvan Rizky Novandi</td>
                <td>2016</td>
                <td>Python, Java</td>
            </tr>
            <tr>
               <td>1406568923</td>
                <td>Emil Farisan Singgih</td>
                <td>2014</td>
                <td>Java, C++</td>
            </tr>
            <tr>
                <td>1606862740</td>
                <td>Endrawan Andika Wicaksana</td>
                <td>2016</td>
                <td>Python, Java</td>
            </tr>
            <tr>
                <td>1506758102</td>
                <td>Enrico</td>
                <td>2015</td>
                <td>Java</td>
            </tr>
            <tr>
                <td>1606875844</td>
                <td>Ezza Ardiala Reforianno</td>
                <td>2016</td>
                <td>Python, Java</td>
            </tr>
            <tr>
                <td>1506689143</td>
                <td>Fachrur Rozi</td>
                <td>2015</td>
                <td>C, Java</td>
            </tr>
            <tr>
                <td>1606918572</td>
                <td>Fadhil Sultoni</td>
                <td>2016</td>
                <td>Python, Java</td>
            </tr>
            <tr>
                <td>1606834604</td>
                <td>Fadhlan Hazmi</td>
                <td>2016</td>
                <td>Python, Java</td>
            </tr>
            <tr>
               <td>1406622950</td>
                <td>Fadhlan Hidayat</td>
                <td>2014</td>
                <td>Java, C++</td>
            </tr>
            <tr>
                <td>1506758065</td>
                <td>Fadhriz Qadrul Amien</td>
                <td>2015</td>
                <td>Java, C</td>
            </tr>
            <tr>
                <td>1106087566</td>
                <td>Fadli Robby Riski Aini</td>
                <td>2011</td>
                <td>C, C++</td>
            </tr>
            <tr>
                <td>1506690643</td>
                <td>Fahmi</td>
                <td>2015</td>
                <td>Java, Ruby</td>
            </tr>
            <tr>
                <td>1306397910</td>
                <td>Faiz Kautsar</td>
                <td>2013</td>
                <td>Java, C</td>
            </tr>
            <tr>
                <td>1506730035</td>
                <td>Faizal Adhitama Prabowo</td>
                <td>2015</td>
                <td>C++, Java</td>
            </tr>
            <tr>
               <td>1406543605</td>
                <td>Fajrin Rizky Ajiseno</td>
                <td>2014</td>
                <td>HTML, Java</td>
            </tr>
            <tr>
                <td>1406571123</td>
                <td>Fakhri Perdana</td>
                <td>2014</td>
                <td>Java, PHP</td>
            </tr>
        </tbody>
    </table>

<script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );
     
        // DataTable
        var table = $('#example').DataTable();
     
        // Apply the search
        table.columns().every( function () {
            var that = this;
     
            $( 'input', this.footer() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );
        } );
    } );
</script>


<style>
    tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
</style>